<div class="person">
    <img src={{this.photo}} alt={{this.name}} />
    <h3>Nombre: {{this.name}}</h3>
    <p>Edad: {{this.age}}</p>
    {{#if this.quote}}
    <blockquote>{{this.quote}}</blockquote>
    {{/if}}
</div>